::-webkit-scrollbar { 
	width: 16px;
}
::-webkit-scrollbar-track { 
	background-color: #333;
} 
::-webkit-scrollbar-thumb { 
	background-color: #424e69;
}
::-webkit-scrollbar-thumb:hover { 
	background-color: #8295d5;
}

@font-face { 
	font-family: 'Oswald-Light'; 
	src: url('../css/Oswald-Light.ttf'); 
}
@font-face { 
	font-family: 'Oswald-Bold'; 
	src: url('../css/Oswald-Bold.otf'); 
}

* { 
	font-family: Oswald-Light, sans-serif;
	font-size: 16px;
	color: #fff;
}

html, body { 
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
body { 
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

#panel, #home { 
	width: 460px;
	height: 600px;
	margin: auto;
	margin-top: 25px;
	left: 0px;
	right: 0px;
	position: absolute;
	padding: 50px;
	background-color: #000;
	border: solid 1px #666;
}			
#board, #board-next { 
	width: 250px;
	height: 450px;
	border: solid 1px #ccc;
	position: relative;
	padding: 1px;
	float: left;
}
#board { 
	border-left-width: 5px;
	border-right-width: 5px;
}
#board-next { 
	width: 100px;
	height: 100px;
	border-color: #000;
}
#level, #lines, #score, #next { 
	float: left;
	position: relative;
	width: 170px;
	height: 85px;
	text-transform: uppercase;
	font-size: 34px;
	letter-spacing: 1px;
	padding-left: 20px;
	margin-bottom: 15px;
	margin-left: 5px;
	border: solid 0px #999;
}
#next { 
	margin-bottom: 0px;
	height: 146px;
}
#level span, #lines span, #score span { 
	color: #fafba0;
	font-size: 38px;
	letter-spacing: 1px;
	padding-left: 15px;
}

.square { 
	width: 23px;
	height: 23px;
	position: relative;
	background-color: #000;
	border: solid 1px #000;
	display: inline-table;
	margin: 0px;
	padding: 0px;
	float: left;
	font-size: 14px;
	text-align: center;
}
.square.disabled { 
	background-color: #444;
	transition: background-color 0.1s;
}

.piece1.erase, .piece2.erase, .piece3.erase, .piece4.erase, .piece5.erase, .piece6.erase, .piece7.erase { 
	background-color: #000;
	transition: background-color 0.2s;
}

.piece1 { 
	background-color: #cb6060;
}
.piece2 { 
	background-color: #a367ce;
}
.piece3 { 
	background-color: #30a6bd;
}
.piece4 { 
	background-color: #abbd30;
}
.piece5 { 
	background-color: #fdb312;
}
.piece6 { 
	background-color: #f6018c;
}
.piece7 { 
	background-color: #d60d0d;
}

.invisible, .masked { 
	visibility: hidden;
}

#board .message, .start { 
	margin: auto;
	left: 0px;
	top: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	position: absolute;
	text-align: center;
	background-color: #333;
	opacity: 0.8;
	letter-spacing: 2px;
	padding-top: 5px;
	font-size: 22px;
	text-transform: uppercase;
}

.start { 
	color: #888;
	opacity: 1;
	background-color: transparent;
	font-size: 24px;
	font-weight: normal;
}

h1 { 
	font-family: Oswald-Bold, sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 78px;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-weight: bold;
	background: -webkit-linear-gradient(#5698f8, #e446c6, #fcba40, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-color: #eee;
	-webkit-text-stroke-width: 2px;
}
h2 { 
	margin: 1px 0px 0px 0px;
}

#home h1 { 
	font-size: 120px;
	text-align: center;
	-webkit-text-stroke-width: 5px;
}
#home h2 { 

	font-weight: bold;
	margin: -20px 0px 0px 0px;
	font-size: 22px;
	text-align: center;
	letter-spacing: 2px;
}
#home h3 { 
	color: #ffe077;
	font-weight: normal;
	margin: 0px;
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
}

#scores { 
	position: absolute;
	top: 420px;
	margin-auto;
	left: 0px;
	right: 0px;
	text-align: center;
}
#scores  h2, #help h2 { 
	margin: 0px 0px 10px 0px;
	color: #d43b3b;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 26px;
}
#scores  table { 
	text-align: center;
}
#scores  table  th, #scores  table  td { 
	padding: 0px 20px 0px 20px;
	text-transform: uppercase;
	color: #f4c030;
	font-weight: bold;
	font-size: 20px;
	text-align: right;
	letter-spacing: 1px;
}
#home #scores  table  td { 
	font-weight: normal;
	color: #ffedb3;
}

.help-button { 
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 16px;
	font-weight: bold;
	text-transform: lowercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	color: #78abf7;
	transition: color 1.5s;
}
.help-button.yo { 
	color: #666;
}

#help { 
	position: absolute;
	width: 420px;
	height: 265px;
	top: 290px;
	left: 0px;
	right: 0px;
	margin: auto;
	padding-top: 15px;
	text-align: center;
	z-index: 999999;
	background-color: #222;
	border: solid 1px #ffedb3;
	text-transform: uppercase;
	opacity: 0.9;
	display: none;
	cursor: pointer;
}
#help  table  tr  td { 
	font-size: 16px;
	letter-spacing: 1px;
}
#help  table  tr  td:first-child { 
	color: #f4c030;
	font-weight: bold;
	text-align: right;
}
#help  table  tr  td:last-child { 
	text-align: left;
}